@import  "./reset";

.container-wrapper{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 margin: 1rem;
 gap: 1rem;
    
    
}

